{% schema %}
{
  "name": "Loyalty Earn",
  "settings": [
    {
      "type": "text",
      "label": "Row Heading",
      "id": "row_heading",
      "default": "Ways To Earn Points"
    }
  ],
  "presets": [
    {
      "name": "Loyalty Earn"
    }
  ]
}
{% endschema %}

<div class="container mx-auto px-10">
  <h1 class="text-xl text-center">{{ section.settings.row_heading }}</h1>
  <div class="mt-12" data-oke-loyalty-earn></div>
</div>

<style>
  #oke-loyalty-earn {
    .c-actionCard:nth-child(1) {
      background-image: url('https://cdn.shopify.com/s/files/1/0749/3241/files/1_4c2c2eea-2b0f-42e5-83bd-371707a73f06.jpg?v=1761046023');
    }

    .c-actionCard:nth-child(2) {
      background-image: url('https://cdn.shopify.com/s/files/1/0749/3241/files/2_3a8bff48-d470-4c1b-ab20-c07b270eb61a.jpg?v=1761046093');
    }

    .c-actionCard:nth-child(3) {
      background-image: url('https://cdn.shopify.com/s/files/1/0749/3241/files/3_31576e10-9aff-4146-8064-687adc27db79.jpg?v=1761046145');
    }

    .c-actionCard:nth-child(4) {
      background-image: url('https://cdn.shopify.com/s/files/1/0749/3241/files/4_8e5bd874-ade1-40ff-8883-9ca119bda2a9.jpg?v=1761046212');
    }

    .c-actionCard:nth-child(5) {
      background-image: url('https://cdn.shopify.com/s/files/1/0749/3241/files/5_75fae7b5-5300-4a0c-aaf0-2a2836b1d9e3.jpg?v=1761046212');
    }

    .c-actionCard:nth-child(6) {
      background-image: url('https://cdn.shopify.com/s/files/1/0749/3241/files/6_f8a9610a-cc98-4857-b617-a2de53725d82.jpg?v=1761046212');
    }
  }
</style>